.login {
    text-align: center;
}

.login-button {
    text-align: center;
    padding-left: 310px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.register-button {
    text-align: center;
    padding-left: 300px;
    padding-bottom: 10px;
}

.register-page {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.email, .username, .password, .confirm-password {
    padding: 5px;
    margin: 5px
}

.save-button {
    text-align: center;
    padding: 5px;
}

.input--not-editing {
    background: none;
    border: none;
    cursor: text;
    color: black;
    pointer-events: none;
}
