* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  .background-image {
    background-image: url(https://t4.ftcdn.net/jpg/03/02/19/33/360_F_302193391_IunhgvFF885fwx9Mi9ykXwcmu2X2c4bk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center center;
}

#root {
    height: 100vh;
    overflow-y: auto;
}

.login-button,.register-button, .save-button {
    padding: 5px;
}

.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.login {
    text-align: center;
    border: 1px;
    border-color: rgb(21, 97, 238);
    display: flex;
    flex-direction: column;
    width: 300px;
}

.login-inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.login-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.register-page {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.email, .username, .password, .confirmPassword, #img, #year, #make, #model, #name, #difficulty, #name, #difficulty{
    padding: 5px;
    margin: 5px;
    border: 1px solid rgb(21, 97, 238);
    border-radius: 10px;
}

.save-button {
    text-align: center;
    padding: 5px;
}

.input--not-editing {
    background: none ;
    border: none;
    cursor: text;
    color: black;
    pointer-events: none;
}

.input--editing {
    padding: 5px;
    margin: 5px;
    border: 1px solid rgb(21, 97, 238);
    border-radius: 10px; 
}

.welcome {
    text-align: center;
}

.rendered-vehicles {
    text-align: center;
}

.main-page {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}