.maintenance-title {
    text-align: center;
}

.maintenance {
    margin: 25px;
}
.maintenances {
    margin: 25px;
}

.maintenance-info {
    margin-left: 100px;
}

.add-button {
    margin-left: 75%;
}