.modification-title {
    text-align: center;
}

.modification {
    margin: 25px;
}
.modifications {
    text-align: center;
}

.modification-info {
    text-align: center;
}

.add-button {
    margin: 10px;
}

#name, #difficulty {
    padding: 5px;
    margin: 5px; 
}

.add-mods {
    text-align: center;
}

.maint-button {
    margin-left: 45%;
}