.modification-title {
    text-align: center;
}

.modification {
    margin: 25px;
}
.modifications {
    margin: 25px;
}

.modification-info {
    margin-left: 100px;
}

.add-button {
    margin-left: 75%;
}