.navbar a:hover {
    color: rgb(47, 0, 255);
}

.home-navbar {
    margin: 10px;
    color: black;
}

.navbar {
    display: flex;
    padding: 5px;
    background-color: rgb(8, 193, 255);
}

.login-page-navbar {
    display: flex;
    padding-right: 5px;
    margin: 10px;
    color: black;
}

.logout-navbar {
    display: flex;
    margin: 10px;
    color: black;
} 