
.title {
    text-align: center;
}
 
.maintenance-button {
    margin-left: 43%
}

.modification-button {
    margin-left: 20px;
}

.vehicle {
    text-align: center;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.vehicle-info {
    text-align: center;
}

.add-vehicle-form {
    text-align: center;
    padding: 5px;
    margin: 5px;
}

.add-vehicle {
    margin-left: 75%;
}

.save {
    margin-left: 48%;
}

#img, #year, #make, #model, #name, #difficulty {
    padding: 5px;
    margin: 5px;
    border: 1px solid rgb(21, 97, 238);
    border-radius: 10px; 
}