.title {
    text-align: center;
}
 
.maintenance-button {
    margin-left: 43%
}

.modification-button {
    margin-left: 20px;
}

.vehicle {
    text-align: center;
    padding-top: 20px;
}

.vehicle-info {
    text-align: center;
}

.add-vehicle-form {
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.add-vehicle {
    margin-left: 75%;
}

.save {
    margin-left: 48%;
}

#img, #year, #make, #model {
    padding: 5px;
    margin: 5px; 
}